@import url('https://fonts.googleapis.com/css2?family=Young+Serif&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

:root{
    --font-family-main:'Young Serif';
    --font-family-text:'Outfit';
}

*{margin: 0;padding: 0;box-sizing: border-box;}

html, body{
    background-color:  hsl(30, 54%, 90%);
    margin: 7rem 0;
    overflow-x: hidden;
    width: 100%;
    font-family: var(--font-family-text);
    font-size: 1em;
}

h1,h2,h3{
    font-family: var(--font-family-main);
}

main{
    width: 100vw;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.container{
    background-color: hsl(0, 0%, 100%);
    max-width: 700px;
    padding: 30px;
    border-radius: 25px;
}

.below{
    width: 100%;
    margin: 1.5rem 0;
}

.omelette{
    width: 100%;
    border-radius: 15px;
    margin-bottom: 1.5rem;
}
.omelette-description h1{
    padding-bottom: 17px;
}
.omelette-description p{
    padding-bottom: 17px;
}

.prepration{
    width: 100%;
    background-color:  hsl(330, 100%, 98%);
    padding: 1.5rem;
    border-radius: 10px;
    margin: 1.5rem 0;
}
.prepration h5{
    color: hsl(332, 51%, 32%);
    margin-bottom: 10px;
}
.prepration span {
    margin-left: 24px;
}
.prepration ul{
    list-style: none;
}
.prepration li{
   margin-left: 9px;
   padding-bottom: 10px;
}
.prepration li:last-child{
    padding: 0;
}
.prepration li::before{
    content: '.';
    font-size: 20px;
    font-weight: bolder;
    color:hsl(332, 51%, 32%); ;
}

.ingredients{
    width: 100%;
    margin: 1.5rem 0;
}
.ingredients h3{
    color: hsl(14, 45%, 36%);
    margin-bottom: 1.2rem;
}
.ingredients ul{
    list-style: none;
}
.ingredients li{
    margin-left: 5px;
    padding-bottom: 10px;
}
.ingredients:last-child{
    padding: 0;
}
.ingredients li::before{
    content: '.';
    font-size: 20px;
    font-weight: bolder;
    color: hsl(14, 45%, 36%);
}
.ingredients span {
    margin-left: 24px;
}

.instructions{
    width: 100%;
}
.instructions h3{
    color: hsl(14, 45%, 36%);
    margin-bottom: 1.2rem;
}
.instructions ul{
    list-style: none;
    
}
.instructions li{
    counter-increment: item;
    padding-bottom: 10px; 
    position: relative;
    padding-left: 2.5rem;
    
} 
.instructions li:last-child{
    padding-bottom: 0;
}
.instructions li::before{
    content: counter(item) '.';
    font-size: 20px;
    font-weight: bolder;
    color: hsl(14, 45%, 36%);
    position:absolute;
    top: 0;
    left: 0;
}

.nutrition{
    width: 100%;
}
.nutrition h2{
    color: hsl(14, 45%, 36%);
    margin-bottom: 1.2rem;
}
.nutrition table td {
    padding-left: 1.5rem;
}
#amount{
    color: hsl(14, 45%, 36%);
}


@media screen and (max-width:575px){
   html,body{
       margin: 0 0;
   }
}
    

